<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta property="og:image" content="https://dracvla.com/images/dracvla.jpg">

<link rel="icon" type="image/jpeg" href="/images/dracvla.jpg">

<link rel="stylesheet" href="/css/main.css">
